<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="givook.users">

	<select id="selectByusers" resultType="usersdto">

		select * from users
		where
		userId=#{userId} and userPwd=#{userPwd}

	</select>

	<select id="selectByuserNick" resultType="usersdto">
		select * from users where userNick=#{userNick}
	</select>

	<select id="selectByuserId" resultType="usersdto">
		select * from users where userId = #{userId}

	</select>

	<insert id="insertUsers" parameterType="usersdto">
		insert into users(userId,
		userPwd, userName, userNick, userPhone, userEmail,
		userPoint)
		values(
		#{userId:VARCHAR},
		#{userPwd:VARCHAR},
		#{userName:VARCHAR},
		#{userNick:VARCHAR},
		#{userPhone:VARCHAR},
		#{userEmail:VARCHAR},
		0 )

	</insert>
	
	<insert id="userInsert"  parameterType="Map">
 insert into users(userId,userPWd,userName,userNick,userPhone,userEmail,userPoint) 
 values(#{userId:VARCHAR},#{userPwd:VARCHAR},#{userName:VARCHAR},#{userNick:VARCHAR},#{userPhone:VARCHAR},
 #{userEmail:VARCHAR},100)
</insert>




	<select id="userSelectByEmail" resultType="usersdto"
		parameterType="String">
		select * from users where userEmail=#{userEmail}
	</select>

	<select id="userSelectJoinCondition" resultType="usersdto"
		parameterType="Map">
		select * from users where userId=#{userId} and userNick=#{userNick} and
		userEmail=#{userEmail}
	</select>



	<delete id="userDelete" parameterType="String">
		delete from users where userId=#{userId:VARCHAR}
	</delete>

	<update id="userUpdate" parameterType="Map">
		update users set
		userPwd=#{userPwd:VARCHAR},
		userName=#{userName:VARCHAR},
		userNick=#{userNick:VARCHAR},
		userPhone=#{userPhone:VARCHAR},
		userEmail=#{userEmail:VARCHAR}
		where userId=#{userId:VARCHAR}

	</update>


	<select id="selectByPoint" resultType="usersdto">
	select * from (select rownum r, aa.* from (select * from users order by userpoint desc) aa )
	where r &lt;= 5
	</select>


</mapper>